<!-- footer -->
<footer class="text-center text custom">
<div style="background-color:#8e8c84">


<p i class="fa fa-tree" aria-hidden="true"></i> READ: Git Outside is not liable for inaccurate reviews. Please research thoroughly.

<i class="fa fa-tree" aria-hidden="true"></i>

</p>
<br> 
<div class="container p-2 pb-0 m-10px;" > 
<p <i class="fa fa-tree margin-right-2 " aria-hidden="true">Derek Lewis</i>
<br>
<p <i class="fa fa-tree m2" aria-hidden="true"></i> Hayden Haun
<br>
<p <i class="fa fa-tree m2" aria-hidden="true"></i> Korbin Sargent
<br>
<p <i class="fa fa-tree m2" aria-hidden="true"></i> James Broski
<br>
<p <i class="fa fa-tree m2" aria-hidden="true"></i> K'trina Apodaca
</p>
</section>
</div>
</div> 


</footer>