<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">GitOutside</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <a class="nav-link" href="/new">Write a review</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Select a State</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/api/AL">AL</a>
                        <a class="dropdown-item" href="/api/AK">AK</a>
                        <a class="dropdown-item" href="/api/AS">AS</a>
                        <a class="dropdown-item" href="/api/AZ">AZ</a>
                        <a class="dropdown-item" href="/api/CA">CA</a>
                        <a class="dropdown-item" href="/api/CO">CO</a>
                        <a class="dropdown-item" href="/api/CT">CT</a>
                        <a class="dropdown-item" href="/api/DE">DE</a>
                        <a class="dropdown-item" href="/api/DC">DC</a>
                        <a class="dropdown-item" href="/api/FL">FL</a>
                        <a class="dropdown-item" href="/api/GA">GA</a>
                        <a class="dropdown-item" href="/api/GU">GU</a>
                        <a class="dropdown-item" href="/api/HI">HI</a>
                        <a class="dropdown-item" href="/api/ID">ID</a>
                        <a class="dropdown-item" href="/api/IL">IL</a>
                        <a class="dropdown-item" href="/api/IN">IN</a>
                        <a class="dropdown-item" href="/api/IA">IA</a>
                        <a class="dropdown-item" href="/api/KS">KS</a>
                        <a class="dropdown-item" href="/api/KY">KY</a>
                        <a class="dropdown-item" href="/api/LA">LA</a>
                        <a class="dropdown-item" href="/api/ME">ME</a>
                        <a class="dropdown-item" href="/api/MD">MD</a>
                        <a class="dropdown-item" href="/api/MA">MA</a>
                        <a class="dropdown-item" href="/api/MI">MI</a>
                        <a class="dropdown-item" href="/api/MN">MN</a>
                        <a class="dropdown-item" href="/api/MS">MS</a>
                        <a class="dropdown-item" href="/api/MO">MO</a>
                        <a class="dropdown-item" href="/api/MT">MT</a>
                        <a class="dropdown-item" href="/api/NE">NE</a>
                        <a class="dropdown-item" href="/api/NE">NJ</a>
                        <a class="dropdown-item" href="/api/NH">NH</a>
                        <a class="dropdown-item" href="/api/NV">NV</a>
                        <a class="dropdown-item" href="/api/NM">NM</a>
                        <a class="dropdown-item" href="/api/NY">NY</a>
                        <a class="dropdown-item" href="/api/NC">NC</a>
                        <a class="dropdown-item" href="/api/ND">ND</a>
                        <a class="dropdown-item" href="/api/OH">OH</a>
                        <a class="dropdown-item" href="/api/OK">OK</a>
                        <a class="dropdown-item" href="/api/OR">OR</a>
                        <a class="dropdown-item" href="/api/PA">PA</a>
                        <a class="dropdown-item" href="/api/PR">PR</a>
                        <a class="dropdown-item" href="/api/RI">RI</a>
                        <a class="dropdown-item" href="/api/SC">SC</a>
                        <a class="dropdown-item" href="/api/SD">SD</a>
                        <a class="dropdown-item" href="/api/TN">TN</a>
                        <a class="dropdown-item" href="/api/TX">TX</a>
                        <a class="dropdown-item" href="/api/UT">UT</a>
                        <a class="dropdown-item" href="/api/VT">VT</a>
                        <a class="dropdown-item" href="/api/VA">VA</a>
                        <a class="dropdown-item" href="/api/WA">WA</a>
                        <a class="dropdown-item" href="/api/WV">WV</a>
                        <a class="dropdown-item" href="/api/WI">WI</a>
                        <a class="dropdown-item" href="/api/WY">WY</a>
                    </div>

                </li>
            </ul>
            <a class="nav-link" href="/login">Login</a>
            {{!-- <a class="nav-link" href="/api/user/logout">Logout</a> --}}
            {{!-- <button class="btn btn-secondary my-2 my-sm-0" type="submit">
                    Login
                    </button> --}}

        </div>
    </div>
</nav>