<section>
    <div>
        <video autoplay muted loop id="myVideo">
            <source src="NightSky.mp4" type="video/mp4">

        </video>

        <div class="video-content d-flex justify-content-center">



            <div class="d-flex justify-content-center flex-column align-items-center">
                <h1 class="homePageHeader">Git Outside</h1>
                <p class="mt-3 text-success homePageText">The Best Campsites in the United States, as reviewed by the community!</p>
                <p class="mt-3 homePageText">Select a state to see reviews or login to post a review</p>
                <button class="mt-3" id="myBtn" onclick="myFunction()">Pause Video</button>
            </div>
        </div>

</section>
<script>
    // Get the video
    var video = document.getElementById("myVideo");

    // Get the button
    var btn = document.getElementById("myBtn");

    // Pause and play the video, and change the button text
    function myFunction() {
        if (video.paused) {
            video.play();
            btn.innerHTML = "Pause";
        } else {
            video.pause();
            btn.innerHTML = "Play";
        }
    }
</script>