<section class="backgroundImageNewForm text-dark text-center">
  <!-- container div for cards -->
  <div class="container d-flex justify-content-center">

    <form class="newReview">

      <fieldset class="mt-2">
        <h2>Tell us about your campsite experience!</h2>
        <!-- CAMPSITE NAME -->
        <div class="form-group mt-2">
          <label for="exampleInputPassword1" class="form-label text-custom-light-sm mt-4">Campsite name:</label>
          <input class="form-control" id="campground_name" placeholder="What's the name of the campsite?">
        </div>
        <!-- CITY NAME -->
        <div class="form-group mt-2">
          <label for="exampleInputPassword1"
            class="form-label text-custom-light-sm mt-4 text-custom-light-sm">City:</label>
          <input class="form-control" id="city_name" placeholder="What city/county did you camp in?">
        </div>
        <!-- STATE DROPDOWN -->
        <div class="form-group mt-2">
          <label for="exampleSelect1" class="form-label text-custom-light-sm mt-4">State:</label>
          <select class="form-select" id="state_name">
            <option>AL</option>
            <option>AK</option>
            <option>AS</option>
            <option>AZ</option>
            <option>CA</option>
            <option>CO</option>
            <option>CT</option>
            <option>DE</option>
            <option>DC</option>
            <option>FL</option>
            <option>GA</option>
            <option>GU</option>
            <option>HI</option>
            <option>ID</option>
            <option>IL</option>
            <option>IN</option>
            <option>IA</option>
            <option>KS</option>
            <option>KY</option>
            <option>LA</option>
            <option>ME</option>
            <option>MD</option>
            <option>MA</option>
            <option>MI</option>
            <option>MN</option>
            <option>MS</option>
            <option>MO</option>
            <option>MT</option>
            <option>NE</option>
            <option>NJ</option>
            <option>NH</option>
            <option>NV</option>
            <option>NM</option>
            <option>NY</option>
            <option>NC</option>
            <option>ND</option>
            <option>OH</option>
            <option>OK</option>
            <option>OR</option>
            <option>PA</option>
            <option>PR</option>
            <option>RI</option>
            <option>SC</option>
            <option>SD</option>
            <option>TN</option>
            <option>TX</option>
            <option>UT</option>
            <option>VT</option>
            <option>VA</option>
            <option>WA</option>
            <option>WV</option>
            <option>WI</option>
            <option>WY</option>
          </select>
        </div>
        <!-- Amenities/ Are there bathrooms? -->
        <div class="form-group mt-2">
          <label for="exampleSelect1" class="form-label text-custom-light-sm mt-4">Amenities:</label>
          <select class="form-select" id="amenities">
            <option>Is this a dispersed campground?</option>
            <option>YES</option>
            <option>NO</option>
          </select>
        </div>
        <!-- ACCESSIBILITY / DO YOU NEED 4WD TO GET THERE? -->
        <div class="form-group mt-2">
          <label for="exampleSelect1" class="form-label text-custom-light-sm mt-4">Accessibility:</label>
          <select class="form-select" id="accessibility">
            <option>Do you need 4 wheel drive to get there?</option>
            <option>YES</option>
            <option>NO</option>
          </select>
        </div>
        <!-- ACCESSIBILITY / DO YOU NEED 4WD TO GET THERE? -->
        <div class="form-group mt-2">
          <label for="exampleSelect1" class="form-label mt-4 text-custom-light-sm">Your rating (out of 5)</label>
          <select class="form-select" id="rating">
            <option>5 - Amazing! </option>
            <option>4 - Pretty good</option>
            <option>3 - Whatever</option>
            <option>2 - Bad</option>
            <option>1 - DO NOT GO</option>
          </select>
        </div>
        <!-- PRICE / DO YOU NEED TO PAY? -->
        <div class="form-group mt-2">
          <label for="exampleSelect1" class="form-label mt-4 text-custom-light-sm">Did you have to pay? What was the
            price?</label>
          <select class="form-select" id="price">
            <option>Free </option>
            <option>Around $10</option>
            <option>Around $20</option>
            <option>Around $30</option>
            <option>Around $40</option>
            <option>OVER $50</option>
          </select>
        </div>
        <!-- UPLOAD AN IMAGE -->

        <div class="form-group mt-2">
          <label for="formFile" class="form-label mt-3 text-custom-light-sm">Upload an image</label>
        </div>
        <div>
          {{> cloudinary}}
        </div>

        {{!-- <div><input class="form-control mb-5" type="file" id="formFile">
  </div> --}}
        <!-- REVIEW TEXT -->
        <div class="form-group mt-4">
          <h2 for="exampleTextarea" class="form-label mt-4 text-custom-light">Write your review here:</h2>
          <textarea class="form-control" id="review_text" rows="10"></textarea>
        </div>

          <div class="d-flex justify-content-center">
              <button type="submit" id="submit" class="btn btn-primary mt-5 ">Submit</button>
              <script>
                document.querySelector("#submit").addEventListener("click", () => {
                  console.log("here is the url from cloudinary", url)
                })
              </script>
          </div>
    </form>
  </div>
</section>

<script src="./js/review.js"></script>